{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}

{% include 'navbar.html' %}


{% block body %}
    
<div class="row">
        <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    <h3>Upcoming Movies : </h3>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                        {{ macro.displayMovieList(popular) }}
                </a>
        </div>    
</div>
<hr>
<div class="row">
        <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    <h3>Upcoming Movies : </h3>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                        {{ macro.displayMovieList(upcoming) }}
                </a>
        </div>
</div>

{% endblock %}