{% macro displayMovieList(movie_list) %}

    {% for movie in movie_list %}


    <div class="card mb-3 col-md-3">
        <a class="list-group-item list-group-item-action active" href="/movie/{{movie.id}}">
            <li style="list-style: none">{{movie.title}}</li>
        </a>
        <img style="height: auto; width: 100%; display: block;" src="{{movie.poster}}" alt="{{movie.title}}">
    </div>
        
        
    {% endfor %}

{% endmacro %}


{% macro displayReviews(reviews) %}

    {% for review in reviews %}
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header"> {{reviews.title}} </div>
                <div class="card-body">
                  <h4 class="card-title"> {{ reviews.review }} </h4> 
                   <p class="card-text"> {{ reviews.review | truncate(30) }} </p>
                </div>
        </div>
    {% endfor %}

{% endmacro %}
